// ---------------------Background colors---------------------//
$darkBlue-introBg: hsl(217, 28%, 15%);
$darkBlue-mainBg: hsl(218, 28%, 13%);
$darkBlue-footer: hsl(216, 53%, 9%);
$darkBlue-testimonials: hsl(219, 30%, 18%);
//---------------------Colors---------------------//
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$white: hsl(0, 0%, 100%);
//---------------------Fonts---------------------//
$mainFont: "Open Sans", sans-serif;
$secondFont: "Raleway", sans-serif;
